<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Heart Disease </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div style="background-color:rgba(0, 0, 0, 0.7); height:fit-content;">
        <div class="side_bar">
            <div class="profile">
                <!-- <div style="padding-top: 30px;">
            <img src="https://images.pexels.com/photos/8384596/pexels-photo-8384596.jpeg?cs=srgb&dl=pexels-tara-winstead-8384596.jpg&fm=jpg"
          alt="profile_picture">
          </div> -->
                <div class="logo">Heart Disease</div>
            </div>
            <ul>
                <li><a class="active" href="home"><i class="fas fa-qrcode"></i>Home</a></li>
                <li><a href="eda"><i class="fas fa-question-circle"></i>EDA</a></li>
                <li><a href="detector"><i class="fas fa-heart"></i>Detector</a></li>
                <li><a href="model_parameter"><i class="fas fa-address-book"></i>Model Parameters</a></li>
                <li><a href="/"><i class="bx bx-log-out"></i>log out</a></li>
            </ul>
            <!-- <div class="media_icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div> -->

        </div>
        <section style="background-color: rgba(0, 0, 0, 0.0);">
            <div style="padding: 10px;">
                <div class="header_text" style="text-align:center;letter-spacing:3px;">
                    Heart Disease
                </div>
                <div style="margin-top:20px;font-size: 20px; line-height: 35px;">
                   <p>
                    <span style="color: orangered; font-weight: bold; font-size: 23px;">C</span>ardiovascular disease is a leading global cause of death, accounting for nearly one-third of all mortalities. Leveraging the power of machine learning, our project aims to harness the potential of predictive modeling to assist in early detection and prevention of heart disease. By analyzing a comprehensive dataset of patient attributes and diagnostic information, we seek to contribute to reducing the burden of cardiovascular disease, saving lives, and enhancing healthcare efficiency.
                   </p>
                   <p style="margin-top:25px;">
                    <span style="color: orangered; font-weight: bold; font-size: 23px;">C</span>urrently not everyone has access to predictive models for heart disease. To address this issue, we aim to make our model accessible to a broader audience by deploying it through user-friendly interfaces and mobile applications. We understand that internet connectivity might be a constraint for some users, so we are also exploring offline functionality options.
                   </p>
                </div>
            </div>

        </section>
    </div>
</body>

</html>